<h1>Die Paderfinder Regeln</h1>
<p>Paderfinder ist zum Austausch und zur Bereitstellung eines sozialen Netzwerks unter Pfadfindern in der Diözese Paderborn gedacht. Folgende verbindliche Regeln, für Inhalte in Profilen, Gruppen, Bilder und Links, sollen sicherstellen, dass jener Grundgedanke erfüllt wird.</p>
<ol>
<li>Eine respektvolle Ausdrucksweise und ein höflicher Umgang miteinander gehören zu den Grundlagen in unserem Netzwerk. Dementsprechend ist es nicht gestattet, andere Menschen negativ hervorzuheben, zu mobben oder lächerlich zu machen.</li>
<li></li>Es darf nur Pfadfinder-relevanter Content veröffentlicht werden. 
<li></li>Veröffentlichungen, die gegen geltendes Recht verstoßen, sind natürlich grundsätzlich nicht gestattet.
<li></li>Kein wiederholtes Zusenden von Nachrichten, wenn die Empfängerin oder der Empfänger mitgeteilt hat, dass dies nicht erwünscht ist.
<li></li>Es dürfen keine Kettenbriefe, Pyramidenschemata, Wettbewerbe, Lotterien, Wettspiele oder Ähnliches verschickt bzw. organisiert werden.
<li></li>Angaben in Profilen und Gruppen müssen der Wirklichkeit entsprechen. Inhalte in Profilen und Gruppen sowie Bilder und Links dürfen nur zu privaten Zwecken veröffentlicht werden. Daten, die von anderen Nutzern über das Netzwerk veröffentlicht werden, dürfen in keiner Weise weiterverwendet werden.
<li></li>Für jede Art von Veröffentlichung (Daten, Informationen, Bilder und dergleichen), sowie deren Folgen sind die Nutzer in jeder Hinsicht selbst verantwortlich.
<li></li>Wenn auf der Profilseite ein Profilbild hochgeladen wird, muss der Nutzer darauf erkennbar sein.
<li></li>Der Nutzer darf nur Inhalte veröffentlichen, an denen er auch die Rechte hält. Für Veröffentlichungen mit Bezug zu Dritten ist deren Einverständnis erforderlich.
<li></li>Es darf keine kommerzielle oder politische Werbung von Nutzern veröffentlicht werden.
<li></li>Rassistische, gewalttätige, politisch extremistische, sexistische, diskriminierende oder sonst anstößige Veröffentlichungen, sowie solche, die andere Personen, Volksgruppen oder religiöse Bekenntnisse beleidigen, verleumden, bedrohen oder verbal herabsetzen, sind nicht gestattet.
<lI></lI>Nacktaufnahmen und pornografische Motive bzw. Abbildungen von körperlicher oder sexueller Gewalt sind nicht gestattet. Ebenso verboten sind Aufnahmen von Opfern von Gewalttaten, Opfern von Krieg oder Opfern von Naturkatastrophen, die Verwendung von verfassungswidrigen Symbolen sowie die Abbildung von gewaltverherrlichenden Motiven oder Darstellungen von Kriegshandlungen.
<li></li>Nachrichten sind vom Nutzer vertraulich zu behandeln. Sie dürfen nur mit ausdrücklicher Zustimmung des Absenders Dritten zugänglich gemacht werden.
1Daten dürfen nicht ohne Zustimmung manuell oder automatisiert zum Zwecke der Datengewinnung ausgelesen, gespeichert, bearbeitet, verändert, weitergeleitet, kommerziell genutzt oder auf sonstige Weise missbraucht werden.
15.	Es dürfen keine Profile innerhalb des Netzwerks und keine Internet-Seiten eingerichtet werden, die dazu dienen, Informationen auszulesen, zu speichern, zu bearbeiten, zu verändern, weiterzuleiten oder auf sonstige Weise zu missbrauchen.
16.	Es dürfen keine Viren, Links, Programme oder sonstige Verfahren angewandt oder verbreitet werden, mit denen gegen die Allgemeinen Geschäftsbedingungen für die Nutzung des Netzwerks verstoßen wird.
17.	Die Bekanntgabe und der Austausch von Passwörtern, Codes und Seriennummern jeglicher Art sind auf der Plattform nicht gestattet.
18.	Es dürfen keine technischen Angriffe unternommen werden, um Daten einzelner Nutzer ganz oder teilweise zu verändern, zu missbrauchen, zu löschen oder in sonstiger Weise zu beschädigen. Ebenso sind technische Angriffe auf die Plattform Pfadfindergruppe Soest e. V. Stamm Königstiger oder die Datenbank des Netzwerks in jeder Form untersagt.
</ol>

Ahndung von Verstößen
1.	Ein Verstoß gegen die Allgemeinen Geschäftsbedingungen oder den Verhaltenskodex hat eine Verwarnung des Nutzers, eine temporäre oder permanente Sperrung seines Profils oder eine Profillöschung zur Folge.
2.	Profile, die eine andere als die tatsächliche Identität des Nutzers widerspiegeln, werden ohne Verwarnung bereits beim ersten Verstoß gelöscht.
3.	Der Heinz Nixdorf Pfadfinderverband behält sich vor, ein Profil oder eine Gruppe bei einem groben Verstoß sofort und ohne Erteilung einer vorherigen Verwarnung zu löschen.

