<header>
  <div class="container">
    <a routerLink="/" class="logo">Paderfinder</a>
   
    <nav>
      
      <ul>
    
        <li><a href="#" routerLink="/">Feed</a></li>
        <li><a href="#" routerLink="/stamm">Mein Stamm</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
        <li><a href="#" routerLink="/policies">Regeln</a></li>
        <li><a href="#" routerLink="/impressum">Impressum</a></li>
        <li><a href="#" routerLink="/suche">Suche</a></li>
        
        <li><a href="#" routerLink="/login">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>