<div class="all">
<mat-card class="card">
    <mat-card-title style="padding-bottom: 10px;">Profil bearbeiten</mat-card-title>
    

    <mat-form-field appearance="fill" class="field">
        
        <mat-label>Stammesname</mat-label>
        <input value ="St.Josef" matInput> 
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        
        <mat-label>Email</mat-label>
        <input value ="test@gmail.com" matInput> 
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        
        <mat-label>Telefon</mat-label>
        <input value ="0157 6666" matInput> 
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        
        <mat-label>Mitglieder</mat-label>
        <input value ="1000" matInput> 
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        
        <mat-label>Ort</mat-label>
        <input value ="Gladbeck" matInput> 
      </mat-form-field>
      <br>

    <mat-card-actions>
        <button mat-button href="#" routerLink="/stamm">Änderungen Speichern</button>
    </mat-card-actions>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>
</div>