.login{
    width: 400px;
    padding-top: 10px;
}

.field{
    width: 300px;
}
.all{
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    li {
        
        
        max-width: 400px;
       
      
    }
}   